body {
    font-family: 'Figtree', sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h1{
    font-size: 24px;
    font-weight: 800;
    color: #333;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.search-bar input, .search-bar select, .search-bar button {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px 0;
}

.actions a {
    width: 100%;
    max-width: 300px;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-color: #01B2A2;
    transition: background-color 0.3s;
}

.actions a:hover {
    background-color: #019688;
}

.restaurant-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin: 20px;
}

.restaurant-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: calc(42.5% - 20px);
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.restaurant-card img {
    width: 500px;
    height: 350px;
    object-fit: cover;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
}

.restaurant-card h2 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-top: 10px;
    text-align: left !important;
    padding: 10px;
    margin: 0;
}

.user-menu {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
}

.user-menu img {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 1rem;
    top: 60px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    padding: 0.5rem;
    z-index: 1000;
}

.user-menu:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    display: block;
    padding: 0.25rem 0.5rem;
    color: #333;
    text-decoration: none;
}

.restaurant-actions{
    display: flex;
    justify-content:space-around;
    width: 100%;
    padding: 0 20px;
    margin: 10px;
}

#crearRestaurante, .restaurant-actions button:first-child {
    background-color: #00665A !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#crearRestaurante:hover, .restaurant-actions button:first-child:hover {
    background-color: #004d47;
}

.restaurant-actions button:last-child {
    background-color: #e74c3c !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restaurant-actions button:last-child:hover {
    background-color: #c0392b;
}

.restaurant-actions button:first-child {
    background-color: #00665A !important;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.restaurant-actions button:first-child:hover {
    background-color: #004d47;
}

@media (max-width: 430px) {
    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }

    .logo {
        height: 30px;
    }

    .user-menu {
        display: flex;
        align-items: center;
    }

    .header h1 {
        display: none;
    }

    .actions {
        order: -1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3px;
        width: 100%;
        padding: 5px 0;
    }

    .actions a {
        font-size: 12px;
        padding: 5px 8px;
        flex: none;
        min-width: 100px;
        text-align: center;
        white-space: nowrap;
    }

    #crearRestaurante, #verUsuarios {
        padding: 10.5px 10px;
        font-size: 12px;
        border-radius: 4px;
    }

    .search-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        width: 100%;
        padding: 0 10px;
    }

    .search-bar input,
    .search-bar select,
    .search-bar button {
        width: 100%;
        max-width: 300px;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .restaurant-card {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }

    .restaurant-card img {
        width: 90%;
        margin: 0 auto;
    }

    .restaurant-card h2 {
        text-align: center;
        padding: 10px;
        margin: 0;
    }

    .restaurant-actions {
        flex-direction: row;
        justify-content: space-between;
        width: 95%;
        padding: 0 10px;
    }

    .restaurant-actions button {
        width: 48%;
    }
}

#verUsuarios {
    background-color: #34495e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#verUsuarios:hover {
    opacity: 0.8;
}

